*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial Narrow';   
}
.text{
    color: #145ea7;
}

ul{
    list-style: none;
}
.blue{
    background-color: #1360a5;
    height: 70px;
    color: white;
}

.padding{
    padding-left: 0px;
    padding-right: 0px;
}
img[alt="logo-disfruta"]{
    
  margin-left: 2rem;

}

img[alt="title"]{
    margin-top: 2.5rem;
    margin-left: 1rem;
}


img[alt="cineplanet"]{
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
